<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title><%=maTitle%></title>
    <meta name="description" content="MusicMatch: recommended artists based off your personal library." />
    <meta name="author" content="Ryan Wendling" />
    <link rel="stylesheet" type="text/css" href="/Css/reset.css" />
    <link rel="stylesheet" href="/Css/styles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
  </head>

  <body>
    <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
      </span>
      <a href="" class="logo">MusicMatch</a>
      <ul class="main-nav" id="js-menu">
        <% for(let i = 0; i < nav.length; i++) {%>
          <li>
            <a class="nav-links" href="<%=nav[i].link%>"> <%=nav[i].title%> </a>
          </li>
        <%}%>
      </ul>
    </nav>

    <div class="horz-centr">
      <p id="welcome">Hello, and welcome to my MusicMatch application! To begin, you must have an xml extract of an itunes playlist. To acquire this, simply highlight the desired playlist from the lefthand navbar of your Itunes application. Next, go to File > Library > Export Playlist... From there, save the playlist as an XML file, and load it into the MusicMatch application!</br>The algorithm will take into account your favorite/most numerous artists and perform some calculations using the LastFM API. Results will then show you the most similar artists to your own library, from most similar, to less. Results will even exclude artists you already know! If you don't have an xml playlist file, feel free to try out the sample file below.</p>
      <div id="backgroundblock">
        <form method="POST" action="/ArtistResultsView" enctype="multipart/form-data">
          <label>Select your itunes playlist XML file:</label>
          <br></br>
          <input id="browse" type="file" name="playlist_xml" />
          <br></br>
          <br></br>
          <input class="ph-button ph-btn-blue" type="submit" name="btn_upload_playlist_xml" value="Upload" />
        </form>
        <br></br>
        <a href="../SavedPlaylists/examplePlaylist.xml" download="examplePlaylist.xml">Example xml playlist file</a>
      </div>
    </div>
  </body>

  <script src="/Js/scripts.js"></script>
</html>
